@import "global/variables.scss";
@import "global/auxiliary.scss";
@import "global/fonts.scss";
@import "global/button.scss";


@import "blocks/container";
@import "blocks/page-header";
@import "blocks/logo";
@import "blocks/about";
@import "blocks/attracting";
@import "blocks/checkbox";
@import "blocks/comments";
@import "blocks/contacts";
@import "blocks/content-header";
@import "blocks/copyright";
@import "blocks/catalog";
@import "blocks/form-knitting";
@import "blocks/goods";
@import "blocks/input";
@import "blocks/main-nav";
@import "blocks/page-main";
@import "blocks/page-footer";
@import "blocks/product";
@import "blocks/production";
@import "blocks/radio";
@import "blocks/slider";
@import "blocks/social-links";
