.button {
  font-family: $fonts-page;
  font-size: 16px;
  line-height: 16px;
  color: $color-page;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #fff;
  border: 2px solid $color-page;
  padding: 16px 0;
  width: 100%;

  max-width: 288px;

  &--full-size {
    max-width: 100%;
  }

  &--average {

    @media #{$tablet} {
      max-width: 228px;
    }
  }

  &--regime {
    @media #{$tablet} {
      order: -1;
      max-width: 170px;
      max-height: 50px;
      margin-top: 5px;
    }

    @media #{$desktop} {
      max-width: 175px;
      max-height: 50px;
      margin-top: 11px;
    }
  }
}

.button__wrapper {
  @media #{$tablet} {
    margin: 0 auto;
    text-align: center;
  }

  @media #{$desktop} {
    margin: 0;
    text-align: left;
  }
}
