body {
  font-family: "Verdana";
  color: #000;
}

@font-face {
  font-family: $fonts-page;
  src: url("../fonts/opensans.woff"),
       url("../fonts/opensans.woff2");
  font-weight: normal;
}

@font-face {
  font-family: $fonts-page;
  src: url("../fonts/opensansbold.woff"),
       url("../fonts/opensansbold.woff2");
  font-weight: bold;
}
