$color-page: #444444;
$color-bg: #f1f1f1;
$background: #fafafa;
$color-title: #63d1bb;
$color-title-mod: #56c3b2;
$color-form: #62d1ba;
$color-form-invalid: #f0b1b1;
$color-form-down: #c7c7c7;
$color-turquoise: #59d5bc;
$color-krayol: #46c1ae;
$color-krayol-jungle: #3bb09d;
$color-krayol-darken: #29a592;
$color-krayol-shamrock: #44c0aa;
$color-grey-light: #e5e5e5;
$color-smoke-white: #ececec;
$color-smoky-white: #ededed;
$color-attracting-toy: #37b2a0;
$color-telegry: #d3d2d2;


$fonts-page: "Open Sans";
$Verdana: "Verdana", sans-serif;
$Tahoma: "Tahoma", sans-serif;


$mobile-only: "(max-width: 767px)";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1150px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
