.about {
  margin-bottom: 63px;

  @media #{$tablet} {
    margin-bottom: 70px;
  }

  @media #{$desktop} {
    margin-left: 175px;
    margin-bottom: 95px;
  }
}

.about__wrapper {

  @media #{$tablet} {
    column-count: 2;
    padding-top: 53px;
  }
}

.about__item {
  position: relative;
  margin-bottom: 38px;
  padding-bottom: 31px;

  @media #{$tablet} {
    max-width: 330px;
    padding-top: 32px;
    padding-bottom: 14px;
  }

  @media #{$desktop} {
    max-width: 325px;
    padding-right: 25px;
  }
}

.about__item:last-child {
  padding-bottom: 0;
}

.about__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;

  margin: 0;
  margin-bottom: 70px;

  @media #{$tablet} {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 0px;
  }

  @media #{$desktop} {
    font-size: 50px;
    line-height: 57px;

    margin-bottom: 50px;
  }
}

.about__icon {
  position: absolute;

  left: 0;
  top: 0;

  &--item-1 {
    top: -40px;
    left: 8px;

    @media #{$tablet} {
      top: 0px;
      left: 9px;
    }
  }

  &--item-2 {
    top: -37px;
    left: 0;

    @media #{$tablet} {
      top: 0;
      left: 0;
    }
  }

  &--item-3 {
    top: -32px;
    left: 8px;

    @media #{$tablet} {
      top: 5px;
      left: 9px;
    }
  }

  &--item-4 {
    top: -33px;
    left: 4px;

    @media #{$tablet} {
      top: 3;
      left: 0;
    }
  }

  &--item-5 {
    top: -34px;
    left: -4px;

    @media #{$tablet} {
      top: 3px;
      left: -13px;
    }
  }

  &--item-6 {
    top: -35px;
    left: 3px;

    @media #{$tablet} {
      top: 2px;
      left: -3px;
    }
  }
}

.about__point {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;

  margin: 0;
  padding-top: 15px;

  @media #{$tablet} {
    font-size: 20px;
    line-height: 28px;
  }

  @media #{$desktop} {
    padding-left: 0;
    margin-top: 0;
  }
}
