.attracting {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;


  @media #{$tablet} {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.attracting__button {
  font-family: $Tahoma;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;transition: .15s;

  background-color: $color-title;
  padding-left: 28px;
  padding-top: 27px;
  padding-bottom: 27px;

  position: relative;
  max-width: 320px;


  @media #{$tablet} {
    font-size: 20px;
    line-height: 30px;

    padding-left: 36px;

    width: 50%;

    &:hover {
      transform: translateY(-5px);
    }
  }

  @media #{$desktop} {
    padding-right: 320px;
    padding-left: 38px;
    padding-bottom: 40px;
  }

  &:hover {
    background-color: $color-turquoise;
  }

  &#{&}--color {
    background-color: $color-title-mod;
  }

  &#{&}--color:hover {
    background-color: $color-krayol;
  }

}

.attracting__image {
  position: absolute;
  height: 65px;
  width: 60px;
  right: 30px;
  top: 20px;

  color: $color-krayol-jungle;
}

.attracting__button:hover > .attracting__image {
  color: $color-krayol-darken;
}

.attracting__button:active > .attracting__image {
  color: $color-krayol-shamrock;
}

.attracting__button:active > .attracting__image--toy {
  color: $color-attracting-toy;
}

.attracting__button:active > .attracting__title {
  opacity: .3;
}
