.attracting {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;


  @media #{$tablet} {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.attracting__button {
  font-family: $Tahoma;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;

  background-color: $color-title;
  padding-left: 28px;
  padding-top: 27px;
  padding-bottom: 27px;

  position: relative;
  max-width: 320px;


  @media #{$tablet} {
    font-size: 20px;
    line-height: 30px;

    padding-left: 36px;

    width: 50%;
  }

  @media #{$desktop} {
    padding-right: 320px;
    padding-left: 38px;
    padding-bottom: 40px;
  }

  &:hover {
    background-color: #59d5bc;
  }

  &--color {
    background-color: $color-title-mod;
  }

  &--color:hover {
    background-color: #46c1ae;
  }

  &::after {
    content: "";
    position: absolute;
    height: 65px;
    width: 60px;
    right: 30px;
    top: 20px;

    background-repeat: no-repeat;
    background-position: center;
  }

  &--decoration::after {
    background-image: url("../img/icon-interior.svg");
  }

  &--toys-img::after {
    background-image: url("../img/icon-toy.svg");
  }

}
