.attracting {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;


  @media #{$tablet} {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.attracting__button {
  font-family: "Tahoma";
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;

  background-color: $color-title;
  padding-left: 28px;
  padding-right: 195px;
  padding-top: 28px;
  padding-bottom: 27px;

  &--color {
    background-color: $color-title-mod;
  }

  @media #{$tablet} {
    font-size: 20px;
    line-height: 30px;

    padding-left: 36px;

    width: 50%;
  }

  @media #{$desktop} {
    padding-right: 320px;
    padding-left: 38px;
  }

}
