.checkbox {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 23px;

  @media #{$tablet} {
    width: 240px;
  }

  @media #{$desktop} {
    width: 210px;
  }
}

.checkbox__value {
  display: none;
}

.checkbox__title {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  order: 1;

  padding-top: 12px;
  padding-left: 24px;

  @media #{$tablet} {
    font-size: 18px;
    line-height: 18px;
    padding-top: 15px;
  }
}

.checkbox__state {
  position: relative;
  width: 36px;
  height: 36px;
  border: 2px solid $color-page;

  @media #{$tablet} {
    width: 50px;
    height: 48px;
  }

  &:hover{
    border-color: $color-form;
  }

  &:active {
    border-color: $color-form-down;
  }

  &::before {
    content: "";
    position: absolute;

    display: none;

    width: 100%;
    height: 100%;
    background-image: url("../img/icon-tick.svg");
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;

    @media #{$tablet} {
      background-size: 32px;
    }
  }

}

.checkbox__value:checked ~ .checkbox__state::before {
  display: block;
}
