.comments {
  padding-bottom: 50px;
  margin-bottom: 40px;

  position: relative;

  @media #{$tablet} {
    padding-bottom: 80px;
    min-height: 460px;
  }

  @media #{$desktop} {
    padding-bottom: 90px;
    margin-bottom: 140px;
  }

  &::after {
    @include zigzag-line("6","15","23");
  }
}

.comments__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;

  margin: 0;

  @media #{$tablet} {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 50px;

    order: -2;
  }

  @media #{$desktop} {
    font-size: 50px;
    line-height: 57px;
  }
}

.comment {
  margin: 0;
}

.comment__text {
  font-family: $fonts-page;
  font-size: 14px;
  line-height: 30px;
  color: $color-page;

  margin: 0;
  margin-top: 22px;

  @media #{$tablet} {
    font-size: 16px;

    margin: 0;
  }

  @media #{$desktop} {
    max-width: 700px;
  }
}

.comment__author {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;

  margin: 0;
  margin-top: 18px;

  @media #{$tablet} {
    font-size: 16px;
    margin-top: 10px;
  }

  @media #{$tablet} {
    font-size: 16px;
  }
}

.comment__nickname {
  font-family: $fonts-page;
  font-size: 14px;
  line-height: 30px;
  color: $color-page;

  text-decoration: none;

  @media #{$tablet} {
    font-size: 16px;
  }

  @media #{$tablet} {
    line-height: 30px;
  }
}
