.comments {
  padding: 0 30px;
  margin-bottom: 89px;

  position: relative;

  @media #{$tablet} {
    padding: 0;
    margin-bottom: 240px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media #{$desktop} {
    margin-left: 175px;
    margin-bottom: 330px;
  }
}

.comments__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;

  margin: 0;

  @media #{$tablet} {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 50px;

    order: -2;
  }

  @media #{$desktop} {
    font-size: 50px;
    line-height: 57px;
  }
}

.comment {
  margin: 0;
}

.comment__text {
  font-family: $fonts-page;
  font-size: 14px;
  line-height: 30px;
  color: $color-page;

  margin: 0;
  margin-top: 22px;

  @media #{$tablet} {
    font-size: 16px;

    margin: 0;
  }

  @media #{$desktop} {
    max-width: 700px;
  }
}

.comment__author {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;

  margin: 0;
  margin-top: 20px;

  @media #{$tablet} {
    font-size: 16px;
    margin-top: 10px;
  }

  @media #{$tablet} {
    font-size: 16px;
  }
}

.comment__nickname {
  font-family: $fonts-page;
  font-size: 14px;
  line-height: 30px;
  color: $color-page;

  text-decoration: none;

  @media #{$tablet} {
    font-size: 16px;
  }

  @media #{$tablet} {
    line-height: 30px;
  }
}
