.content-header {
  background-color: $background;

  margin-bottom: 30px;

  @media #{$tablet} {
    position: relative;
    margin-bottom: 75px;

    &::after {
      content: "";
      position: absolute;
      height: 22px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: contain;
      background-position: center;
      background-repeat: repeat-x;

      left: 0;
      right: 0;
      bottom: -5px;
    }

  }

  @media #{$desktop} {
    margin-bottom: 120px;
  }

  &#{&}--background {

    @include retina-bg("hero-mobile", "jpg");
    background-repeat: no-repeat;
    background-position: center 0;

    @media #{$tablet} {
      margin-bottom: 35px;
      background-size: cover;
      @include retina-bg("hero-desktop", "jpg");
    }

    @media #{$desktop} {
      margin-bottom: 110px;
    }

  }
}

.content-header__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  padding: 57px 0px;
  text-align: center;

  margin-bottom: 20px;

  @media #{$tablet} {
    font-size: 40px;
    line-height: 50px;
    padding-top: 25px;
    padding-bottom: 65px;

  }

  @media #{$desktop} {
    font-size: 50px;
    line-height: 57px;
    padding-top: 15px;
    padding-bottom: 90px;
  }

  &#{&}--indent {
    padding: 70px 0 5px;
    margin-bottom: 120px;

    @media #{$tablet} {
      font-size: 40px;
      line-height: 50px;
      padding-top: 80px;
      margin-bottom: 385px;
    }

    @media #{$desktop} {
      font-size: 50px;
      line-height: 57px;
      margin-bottom: 364px;

      padding: 0 150px;
      padding-top: 70px;
    }

  }
}
