.contacts__title {
  font-size: 24px;
  line-height: 30px;
}

.contacts__date {
  font-family: $fonts-page;
  font-size: 14px;
  line-height: 30px;
  color: $color-page;
}

.contacts__link {
  text-decoration: none;
  color: $color-page;
}
