.copyright {
  padding: 30px 0;
  position: relative;
  border-top: 1px solid $color-grey-light;

  @media #{$tablet} {
    border: none;
    margin: 0;
    padding: 0;
  }
}


.copyright__title {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  padding-left: 40px;

  position: relative;

  @media #{$tablet} {
    display: block;
    padding: 0;
    padding-right: 50px;
    padding-top: 12px;
  }

  &:active {
    opacity: .3;
  }
}

.copyright__title:hover > .icon-state--logo-htmlacademy {
  color: $color-krayol;
}
