.copyright {
  padding: 30px 0;
  margin: 0 30px;
  position: relative;
  border-top: 1px solid #e5e5e5;

  @media #{$tablet} {
    border: none;
    margin: 0;
    padding: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 38px;
    width: 25px;
    height: 35px;
    background-color: $color-title;

    @media #{$tablet} {
      right: 0;
      top: 5px;
    }
  }
}


.copyright__title {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  padding-left: 40px;

  @media #{$tablet} {
    display: block;
    padding: 0;
    padding-right: 50px;
    padding-top: 12px;
  }
}
