.form-knitting {
  margin-bottom: 55px;

  @media #{$tablet} {
    margin: 0;
    margin-bottom: 50px;
    position: relative;
  }

  @media #{$desktop} {
    margin-bottom: 100px;
  }
}

.form-knitting__wrapper {
  @media #{$tablet} {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      width: 500px;
  }

  @media #{$desktop} {
      width: 700px;
  }

  &--color {
    @media #{$desktop} {
      width: 70%;
    }
  }
}


.form-knitting__set {
  padding: 0;
  border: none;
  padding-bottom: 1px;

  @media #{$tablet} {
    padding-bottom: 25px;
    padding-top: 30px;

    display: flex;
    }

  &--repainting {
    @media #{$tablet} {
      background-color: $color-bg;
      padding-top: 65px;
      padding-bottom: 40px;
    }
  }

  &--tel {
    @media #{$tablet} {
      padding-top: 40px;
      padding-bottom: 0;
    }
  }

  &--email {
    margin-top: 30px;
    margin-bottom: 35px;
    @media #{$tablet} {
      margin: 0;
      padding-top: 15px;
      padding-bottom: 65px;
    }
  }

  &--full-name {
    @media #{$tablet} {
      padding-top: 45px;
      padding-bottom: 45px;
    }
  }

  &--frame {
    @media #{$tablet} {
      padding-top: 65px;
    }
  }
}

.form-knitting__council {
  font-family: $fonts-page;
  font-size: 14px;
  line-height: 25px;
  color: $color-page;

  margin: 0;
  margin-bottom: 24px;

  @media #{$tablet} {
    font-size: 16px;
    line-height: 30px;
  }

  @media #{$desktop} {
    padding: 0 175px;
  }
}

.form-knitting__title {
  font-family: $fonts-page;
  font-size: 16px;
  line-height: 16px;
  color: $color-title;
  font-weight: bold;
  text-transform: uppercase;

  padding-bottom: 27px;
  margin-top: 15px;

  position: relative;

  @media #{$tablet} {
    padding: 0;
    width: 165px;
  }

  @media #{$desktop} {
    width: 175px;
    text-align: center;
  }

  &--stick {
    padding-top: 25px;
    margin: 0;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 7px;

    height: 1px;
    width: 200px;
    background-color: $color-form;

    @media #{$tablet} {
      display: none;
    }
  }
}

.form-knitting__delivery {
  display: none;

  @media #{$tablet} {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 16px;
    line-height: 30px;
  }
}
