.goods {
  padding: 0 30px;
  margin-bottom: 70px;

  @media #{$tablet} {
    position: relative;
    padding: 0;
    margin-bottom: 115px;
  }

  @media #{$desktop} {
    margin-bottom: 155px;
  }
}

.goods__headings {
  padding-bottom: 25px;

  @media #{$tablet} {
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
  }

  @media #{$desktop} {
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
}

.goods__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;

  margin: 0;
  padding-bottom: 5px;

  @media #{$tablet} {
    font-size: 40px;
    line-height: 50px;
    max-width: 500px;
  }

  @media #{$desktop} {
    font-size: 50px;
    line-height: 57px;
    max-width: 100%;
  }
}

.goods__subtitle {
  font-family: $fonts-page;
  font-size: 16px;
  line-height: 16px;
  color: $color-title;
  font-weight: bold;
  text-transform: uppercase;

  margin: 0;

  @media #{$tablet} {
    align-self: center;
    text-align: center;

    max-width: 120px;
  }

  @media #{$desktop} {
    padding: 0 35px;
    padding-right: 40px;

    max-width: 95px;
  }
}

.goods__wrapper {
  @media #{$tablet} {
    display: flex;
    flex-wrap: wrap;
  }
}

.goods__about {
  font-family: $fonts-page;
  font-size: 14px;
  line-height: 24px;
  color: $color-page;

  margin: 0;
  padding-bottom: 17px;

  @media #{$tablet} {
    font-size: 16px;
    line-height: 30px;

    margin-bottom: 20px;
    max-width: 285px;
  }

  @media #{$desktop} {
    margin: 0;
    padding-bottom: 50px;
  }
}

.goods__table {
  margin-bottom: 25px;

  @media #{$tablet} {
    margin-bottom: 30px;
  }

  @media #{$desktop} {
    margin-bottom: 106px;
  }
}

.goods__row {
  border-bottom: 1px solid #ececec;
}

.goods__data {
  font-family: $fonts-page;
  font-size: 14px;
  line-height: 20px;
  color: $color-page;

  padding: 10px 0;
  padding-right: 33px;

  @media #{$tablet} {
    font-size: 15px;
  }
}

.goods__order {
  @media #{$desktop} {
    text-align: center;
  }
}

.goods__price {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: $color-page;

  text-align: center;
  padding-bottom: 25px;

  @media #{$tablet} {
    font-size: 18px;

    padding-bottom: 33px;
  }
  @media #{$desktop} {
    padding: 0;
    padding-bottom: 35px;
  }
}

.goods__inner {
  @media #{$tablet} {
    position: relative;
    max-width: 335px;
    padding-right: 375px;
  }
  @media #{$desktop} {
    margin-left: 175px;
    position: static;

    display: flex;
    flex-direction: column;
    padding-right: 585px;
  }
}

.goods__picture {
  margin-bottom: 25px;
  width: 260px;
  height: 315px;

  @media #{$tablet} {
    position: absolute;
    right: 0;
    top: 10px;

    width: 335px;
    height: 400px;
    text-align: center;
    background-color: blue;
    z-index: -10
  }

  @media #{$desktop} {
    width: 525px;
    height: 635px;
    top: -50px;
  }
}
