.goods {
  padding-bottom: 45px;
  margin-bottom: 30px;
  position: relative;

  @media #{$tablet} {
    position: relative;
    padding-bottom: 65px;
    margin-bottom: 50px;

  }

  @media #{$desktop} {
    padding-bottom: 93px;
    margin-bottom: 60px;
  }

  &::after {
    @include zigzag-line("6","15","23");
  }
}

.goods__headings {
  padding-bottom: 25px;

  @media #{$tablet} {
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
  }

  @media #{$desktop} {
    justify-content: flex-end;
    flex-direction: row-reverse;
    padding-bottom: 40px;
  }
}

.goods__title {
  font-size: 23px;
  line-height: 30px;
  font-weight: bold;

  margin: 0 0 7px;

  @media #{$tablet} {
    font-size: 40px;
    line-height: 50px;
    max-width: 500px;
  }

  @media #{$desktop} {
    font-size: 50px;
    line-height: 57px;
    max-width: 100%;
  }
}

.goods__subtitle {
  font-family: $fonts-page;
  font-size: 16px;
  line-height: 16px;
  color: $color-title;
  font-weight: bold;
  text-transform: uppercase;

  margin: 0;

  @media #{$tablet} {
    align-self: center;
    text-align: center;

    max-width: 120px;
  }

  @media #{$desktop} {
    padding: 0 35px;
    padding-right: 40px;

    max-width: 95px;
  }
}

.goods__wrapper {
  @media #{$tablet} {
    display: flex;
    flex-wrap: wrap;
  }
}

.goods__about {
  font-family: $fonts-page;
  font-size: 14px;
  line-height: 24px;
  color: $color-page;

  margin: 0;
  margin-bottom: 15px;

  @media #{$tablet} {
    font-size: 16px;
    line-height: 30px;

    margin-bottom: 20px;
    max-width: 285px;
  }

  @media #{$desktop} {
    margin: 0;
    margin-bottom: 50px;
  }
}

.goods__table {
  margin-bottom: 25px;

  @media #{$tablet} {
    margin-bottom: 30px;
  }

  @media #{$desktop} {
    margin-bottom: 85px;
  }
}

.goods__row {
  border-bottom: 1px solid #ececec;
}

.goods__data {
  font-family: $fonts-page;
  font-size: 14px;
  line-height: 20px;
  color: $color-page;

  padding: 9px 0 10px;
  padding-right: 33px;

  @media #{$tablet} {
    font-size: 15px;
  }

  &:nth-child(2) {
    padding-right: 0;
  }
}

.goods__order {
  @media #{$desktop} {
    text-align: center;
  }
}

.goods__price {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: $color-page;

  text-align: center;
  padding-bottom: 25px;

  @media #{$tablet} {
    font-size: 18px;

    padding-left: 10px;
    padding-bottom: 35px;
    margin-top: 20px;
  }
  @media #{$desktop} {
    padding: 0;
    padding-bottom: 35px;
  }
}

.goods__inner {
  @media #{$tablet} {
    position: relative;
    max-width: 335px;
    padding-right: 375px;
  }
  @media #{$desktop} {
    margin-left: 175px;
    position: static;

    display: flex;
    flex-direction: column;
    padding-right: 585px;
    position: relative;
  }
}

.goods__picture {
  margin-bottom: 25px;
  width: 260px;
  height: 315px;

  @media #{$tablet} {
    position: absolute;
    right: 0;
    top: 10px;

    width: 333px;
    height: 404px;
    text-align: center;
    z-index: -10
  }

  @media #{$desktop} {
    width: 525px;
    height: 636px;
    top: -155px;
  }
}
