.logo {
  text-align: center;
  padding: 20px 0;

  @media #{$tablet} {
    padding-bottom: 0;
  }

  @media #{$desktop} {
    margin-left: 43%;
    margin-top: 10px;
    padding: 0;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo-footer {
  display: none;
  @media #{$tablet} {
    display: block;
  }
}

.logo-footer__icon {

  @media #{$tablet} {
    width: 100px;
    height: 35px;
  }
}

.logo__icon {

  @media #{$tablet} {
    width: 115px;
    height: 50px;
  }

  @media #{$desktop} {
    width: 150px;
    height: 75px;
  }

}
