.main-nav__logo {
  text-align: center;
  padding: 15px 30px 15px 40px;
  line-height: 20px;
  background: #fff;
  border-bottom: 1px solid $color-smoke-white;
  box-sizing: border-box;

  @media #{$tablet} {
    flex-basis: 360px;
    padding-left: 45px;
    border: 1px solid $color-smoke-white;
    border-right: none;
    text-align: left;
    order: -2;
    flex-grow: 1;
  }

  @media #{$desktop} {
    flex-basis: 15%;
    padding: 0;
    padding-left: 20px;
    padding-top: 10px;
    border-left: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__logo-icon {

  @media #{$tablet} {
    width: 115px;
    height: 50px;
  }

  @media #{$desktop} {
    width: 150px;
    height: 75px;
  }

}

.logo-footer {
  display: none;
  @media #{$tablet} {
    display: block;
  }
}
