.main-nav {
  @media #{$tablet} {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }
}

.main-nav__logo {
  text-align: center;
  padding: 22px 30px 15px 27px;
  line-height: 20px;
  background: #fff;
  border-bottom: 1px solid $color-smoke-white;
  box-sizing: border-box;

  @media #{$tablet} {
    flex-basis: 360px;
    padding-left: 45px;
    padding-top: 18px;
    border: 1px solid $color-smoke-white;
    border-top: none;
    border-right: none;
    text-align: left;
    order: -2;
    flex-grow: 1;
  }

  @media #{$desktop} {
    flex-basis: 15%;
    padding: 0;
    width: 0;
    padding-left: 30px;
    padding-top: 10px;
    border-left: none;
  }
}

.main-nav__link {
  text-decoration: none;
  transition: all .15s;
  color: #000;
  font-weight: bold;

  padding: 28px 0;
  padding-left: 75px;
  display: block;
  max-width: 320px;
  margin: 0 auto;

  position: relative;

  @media #{$tablet} {
     border: none;
     padding: 0;
     margin: 0;
     display: inline-block;
     max-width: none;
  }

  &#{&}--hidden {
    @media #{$tablet} {
      font-size: 0;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

}

.main-nav__items {
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  background-color: #fff;

  @media #{$tablet} {
    display: flex;
    font-size: 14px;
    padding-left: 45px;
    padding-top: 17px;
    background-color: transparent;
  }

  @media #{$desktop} {
    font-size: 16px;

    padding-top: 0;
    background: #fff;
    order: -3;
    width: 0;
    flex-basis: 37%;
    border-bottom: 1px solid $color-smoke-white;
    border-left: 1px solid $color-smoke-white;
  }
}

.main-nav__item {
  list-style: none;

  border-left-color: #fff;
  border-right-color: #fff;
  border-bottom: 1px solid $color-smoke-white;

  @media #{$tablet} {
    padding: 0;
    border: none;
    padding-right: 40px;
  }

  @media #{$desktop} {
    border-right: 1px solid $color-smoke-white;
    padding: 32px 0;
    padding-right: 36px;

    position: relative;
  }
}
.main-nav__item:nth-child(2) {
  @media #{$desktop} {
    border-right: none;
    padding-left: 36px;
  }
}

.main-nav__user-items {
  padding: 0;
  margin: 0;


  @media #{$tablet} {
    order: -1;
    display: flex;
    flex-basis: 390px;
    flex-grow: 1;
    border: none;
    background: #fff;
  }

  @media #{$desktop} {
    flex-basis: 26%;
    width: 0;
  }
}

.main-nav__user-item {
  list-style: none;
  border-bottom: 1px solid $color-smoke-white;

  @media #{$tablet} {
    order: -1;
    display: flex;
    flex-basis: 390px;
    flex-grow: 1;
    border-left: 1px solid $color-smoke-white;
  }

  &#{&}--search {
    @media #{$tablet} {
      max-width: 82px;
      align-items: center;
    }
    @media #{$desktop} {
      flex-shrink: 0;
    }
  }

  &#{&}--cart {
    @media #{$tablet} {
      align-items: center;
      padding-left: 35px;
      margin-top: -5px;
      border-right: 1px solid $color-smoke-white;
    }
  }

}

.main-nav__toggle {
  width: 25px;
  height: 25px;
  padding: 0;
  outline: 0;

  position: absolute;
  right: 30px;
  top: 25px;
  background-color: transparent;
  border: none;
  background-image: url("../img/icon-menu-close.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media #{$tablet} {
    display: none;
  }
}

.main-nav__delivery {
  display: none;

  @media #{$tablet} {
    display: block;
    margin-left: 90px;
    margin-top: 15px;

    font-size: 14px;
    line-height: 24px;
    color: $color-page
  }

  @media #{$desktop} {
    margin-top: 0px;
    margin-left: auto;
    margin-right: 50px;
  }
}

.main-nav__attracting {
  display: none;

  @media #{$tablet} {
    display: block;
    margin-left: auto;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }

  @media #{$desktop} {
    margin-left: 50px;
    margin-top: 20px;
    flex-basis: 100%;
    display: flex;
  }
}

.main-nav__attracting-item {
  display: none;
  @media #{$desktop} {
    display: block;
    margin-right: 60px;
  }

}

.main-nav__link-cart:hover > .icon-state--cart {
  color: $color-title;
}

@media #{$mobile-only} {
  .main-nav--js {
    .main-nav__items,
    .main-nav__user-items {
      display: none;
    }

    .main-nav__toggle {
      background-image: url("../img/icon-menu-open.svg");
    }

    &.main-nav--open {
      .main-nav__items,
      .main-nav__user-items {
        display: block;
      }

      .main-nav__toggle {
        background-image: url("../img/icon-menu-close.svg");
      }
    }
  }

  .main-nav__link-cart {
    padding-top: 33px;
  }
}
