.page-header {
  @media #{$tablet} {
    background: #f9f9f9;
  }
}

.page-header__wrapper {
  @media #{$tablet} {
    width: 768px;
    margin: 0 auto;
    background: transparent;
  }

  @media #{$desktop} {
    width: 1150px;
    margin: 0 auto;
    background: transparent;
  }
}
