.page-footer {
  background-color: $color-bg;
  padding-top: 5px;
}

.page-footer__column {
  @media #{$tablet} {
    width: 185px;
  }
}

.page-footer__wrapper {
  @media #{$tablet} {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
  }
}
