.production {
  margin: 0 0 58px;
  padding-bottom: 33px;
  border: 1px solid #ededed;

  @media #{$tablet} {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    margin-bottom: 75px;
  }

  @media #{$desktop} {
    flex-direction: column;
    position: relative;
    padding-bottom: 60px;
    margin-bottom: 105px;
    min-height: 395px;
  }
}

.production__wrapper {
  padding: 0 35px;
  margin-top: 25px;

  @media #{$tablet} {
    padding: 0 40px;
    margin-top: 0;
  }

  @media #{$desktop} {
    padding-left: 760px;
  }
}

.production__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;

  margin: 0;
  padding: 25px 0;
  padding-left: 90px;
  position: relative;

  @media #{$tablet} {
    font-size: 18px;
    padding-left: 105px;
  }
  @media #{$desktop} {
    align-self: flex-end;
    padding: 0;
    max-width: 145px;
    padding-right: 145px;
    padding-top: 90px;
    padding-bottom: 30px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    top: 30px;
    left: 30px;

    @media #{$tablet} {
      top:25px;
      left: 42px;
    }

    @media #{$desktop} {
      top: 45px;
      left: 0;
    }
  }
}

.production__desc {
  font-family: $fonts-page;
  font-size: 14px;
  line-height: 24px;
  color: $color-page;
  padding-bottom: 10px;

  @media #{$tablet} {
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    padding-top: 9px;
    padding-bottom: 33px;
  }

  @media #{$desktop} {
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 50px;
  }
}

.production__video {
  width: 260px;
  height: 150px;
  position: relative;

  @media #{$tablet} {
    width: 668px;
    height: 453px;
    margin-bottom: 15px;

    text-align: center;

    order: -1;
  }

  @media #{$desktop} {
    width: 680px;
    height: 455px;
    margin-bottom: 0;

    position: absolute;
    z-index: -10;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 77px;
    left: 81px;
    top: 40px;
    background-image: url("../img/icon-play.svg");
    background-repeat: no-repeat;

    @media #{$tablet} {
      left: 285px;
      top: 195px;
    }
  }
}
