.slider__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 38px;
  margin-top: 30px;

  @media #{$tablet} {
    position: absolute;
    right: 15px;
    bottom: 13px;
    margin-bottom: 0;
  }
}

.slider__control {
  width: 128px;
  height: 50px;
  border: 1px solid #ececec;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;

  position: relative;

  @media #{$tablet} {
    width: 60px;
    height: 27px;
    font-size: 0;
    margin-left: 20px;
    border: none;
  }

  &--prev {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
  }
}
