.slider__slides {
  flex-basis: 100%;
}
.social-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 25px;

  width: 140px;

  @media #{$tablet} {
    margin: 0;
    width: 150px;
    align-items: center;
  }
}

.social-link {
  width: 30px;
  height: 30px;
  margin-top: 25px;

  font-size: 0;
  background-position: center;
  background-repeat: no-repeat;

  @media #{$tablet} {
    margin: 0;
    margin-top: auto;
  }
}
