.social-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 25px;

  width: 140px;

  @media #{$tablet} {
    margin: 0;
    width: 150px;
    align-items: center;
  }
}

.social-link {
  width: 30px;
  height: 30px;
  background-color: $color-title;
  margin-top: 25px;

  font-size: 0;

  @media #{$tablet} {
    margin: 0;
  }
}
